:root {
    --size: 50px;
}

.square {
    width: var(--size);
    height: var(--size);
}

.column7 {
    flex: 70%;
}

.column3 {
    flex: 30%;
    padding: 10px;
}

.column5 {
    flex: 50%;
}

.column4 {
    flex: 40%;
}

.column6 {
    flex: 60%;
    margin-top: 10px;
}

.column8 {
    flex: 80%;
}

.column2 { 
    height: 100%;  
    margin-left: 50px;
    margin-right: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;

  }
.header-background {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
}
.ml {
    margin-left:10px !important;
}
.row {
    display: flex;
}

.bkg_Color1 {
    background-color: aquamarine;
    color: #444;
}

.bkg_ColorHealthy {
    background-color: chartreuse;
    color: #000;
}

.bkg_ColorUnhealthy {
    background-color: crimson;
    color: #FFF;
}

.bkg_ColorBlack {
    background-color: #000;
    color: #FFF;
}

.bkg_ColorWhite {
    background-color: #FFF;
    color: #000;
}

.shaded {
    background-color: #777;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.o_btn { 
    line-height: 1;
    border: 1px solid transparent;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0.1875rem;
    -webkit-transition: background-color 0.2s ease-out, border 0.2s ease-out, color 0.2s ease-out;
    transition: background-color 0.2s ease-out, border 0.2 ease-out, color 0.2s ease-out;
}

.o_btn:focus {
    outline: 2px dotted #fff;
    outline-offset: -0.3rem;
}

.o_btnM {
    height: 4rem;
    padding: 0 2rem;
    width: 10rem;
}

.o_btnXL {
    height: 8rem;
    padding: 0 2rem;
    width: 15rem;
}

.o_btnS {
    height: 2rem;
    padding: 0 2rem;
    width: 5rem;
    border-radius: 25px;
    border: 1px solid green;
}

.p_top {
    padding-top: 20px;
}

.p_topL {
    padding-top: 10px;
    display:flex;
}

.p_leftL {
    padding-left: 50px;
}

.center {
    margin: auto;
    width: 35%;
    padding: 10px;
}

.shaded_light {
    background-color: #EEE;
    padding: 25px;
    border-radius: 25px;
    width: 250px;
    margin-left: 260px;
}

.bigger {
    font-size: large;
    font-weight: 600;
}

.mar_top {
    margin-top: 50px;
}

.fill_s {
    height: 50px;
    width: 50px;
}

.mar_left {
    margin-left: 310px;
}

.mar_leftS {
    margin-left: 200px;
}

.mar_right {
    margin-right: 300px;
}

.round {
    border-radius: 25px;
}

.p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.shaded_light_norm {
    background-color: #DDD;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
}

.fill_s img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.mini_mar {
    margin-left: 20px;
}